 * {
    box-sizing: border-box;

   }
   
   body{
    background-color:#f9fafd
   }
  
  .container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 10% 90%;

  }
  
  /*navbar */
  
  #header {
    background-color: #ffffff;
    color: #a2a7ad;
    display: grid;
    grid-template-columns: 3fr repeat(6, 1fr);
    grid-template-rows: 2rem;
    grid-gap: 1rem;
    grid-row: 1;
    grid-column: 2/4;
    padding: 1rem;
  }
  
  /* .header-row2{
    display: grid;
    grid-row: 2;
    justify-self: start;
    align-self: start;
    margin-top: 0px;
  } */
  
  .selectLanguages{
    display: grid;
    grid-column: 3;
    justify-self: center;
    align-self: center;
  }
  
  .icons{
    display: grid;
    align-self: center;
    justify-self: center;
  }
  
  .search {
    width: 100%;
    display: flex;
    align-self: center;
    justify-self: center;
  }
  
  .searchTerm {
    border: 1px solid #00B4CC;
    padding: 5px;
    height: 30px;
    width: 100%;
    border-radius: 0 5px 5px 0;
    outline: none;
    border-left: none;
    color: #9DBFAF;
    }
  
  .searchButton {
    width: 30px;
    height: 30px;
    border: 1px solid #00B4CC;
    border-right: none;
    text-align: center;
    color: #fff;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    font-size: 20px;
    }
   
   .selectLanguages,
   .selectLanguages:active,
   .selectLanguages:hover{
     border: none;
   }
   
   .total-sales > img {
    width: 23rem;
  }
   
  /* sidebar */
  #sidebar{
    display: grid;
    grid-column: 1;
    grid-row: 1 / 4;
    background-color: #313a46;
    color: white;
    padding-left: 2rem;
  }
  
  .sidebar-row1{
    align-self: end;
  }
  
  /* main */
  
  #main {
    grid-row: 2/4;
    grid-column: 2/4;
    display: grid;
    grid-template-columns: 50%;
    justify-content: center;

    
  }
  
  .all-projects{
    grid-row: 1/3;
    grid-column: 1/4;
    align-content: center;
    margin-bottom: 3rem;
    padding: 3rem;

  }
  
  .total-sales{
    grid-row: 3;
    grid-column: 1/2;
    display: grid;
    padding: 3rem;

  }

  .pie-graph{
    height: auto;
    width: auto;
    justify-self: center;
  }
  
  .recent-activity{
    grid-row: 3;
    grid-column: 2/4;
    height: 20rem;
    width: 30rem;
    overflow:auto;
    padding: 0rem 3rem 3rem 3rem;
    align-self: center;
    
  }
  
  .projects-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  
  .total-sales > div{
    display: flex;
    gap: 1em;
    flex-direction: column;
  }
  
  /*recent activity */
  
  .activity-group{
    display: flex;
    flex-direction: column;
  
  }
  
  .username{
    color: magenta;
    font-weight: bold;
  }
  
  .time{
    color: darkgray;
    font-weight: 150;
  }
  
  .activity-group > p{
    margin-top: 5px;
  }
  
  .action{
    color: MediumTurquoise;
    font-weight: 150;
  }